/*
 *Contains custom CSS styling for GUI components
 */

 .custom-button-1 {
    -fx-background-color: rgb(72, 247, 72); 
    -fx-text-fill: rgb(5, 66, 85);
 }

 .custom-label-1 {
    -fx-background-color: rgb(248, 111, 218);
    -fx-text-fill: rgb(5, 66, 85);
 }

 .hover-effect:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
 }